/* Will be compiled down to a single stylesheet with your less files */
body {
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}
p {
    margin:0;
    padding: 1em 1.5em 3em 1em;
}
.annotationCard h3 {
    color:white;
}
#viewer {
    width:70%;
    height:100%;
}
#annotations_overlay {
    color:white;
    font-family:"Open Sans";
    max-height: 100%;
    z-index:300;
}
.text_commentary {
    border-left:5px solid white;
    color:whitesmoke;
    border-bottom: 1px solid white;
    overflow:hidden;
    background:rgba(255,255,255,0.3);
}
.annotation {
    transition: all .15s ease-out;
    stroke: white;
    stroke-width:3px;
    opacity:0.1;
    fill-opacity:0.2;
}
.annotation:hover, .annotation.hover {
    transition: fill-opacity .15s ease-out;
    fill-opacity:0.2;
    opacity:0.8
}
.annotation.selected {
    stroke:orangered;
    transition: all .15s ease-out;
    fill-opacity:0.2;
    opacity:0.8
}
.annotationHover {
    transition: fill-opacity .15s ease-out;
    fill-opacity:0.2;
    opacity:0.8
}
#sidepanel {
    position:absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: black;
    border-left: 2px solid white;
    box-sizing:border-box;
    overflow:scroll;
    box-shadow: -2px 0px 8px gray;
}
#sidepanel ul {
    margin:0;
    padding:0;
    display:block;
    box-sizing:border-box;
}
#sidepanel li {
    border-top: 1px solid gray;
    display:block;
    box-sizing:border-box;
    padding-left:50px;
}
#sidepanel h3 {
    padding-top:0;
    border:none;
}
#sidepanel li:last-child {
    border-bottom: 1px solid gray;
}
.annotationCard {
    transition: all .3s ease-out;
    color:white;
}
.annotationCard.selected {
    background:white;
    color:black;
    transition: all .3s ease-out;
    border-left:4px solid orangered;
}
.annotationCardHover {
    background:white;
    color:black;
    transition: all .3s ease-out;
}
.annotationCard:hover {
    background:white;
    color:black;
    transition: all .3s ease-out;
}
.annotationCard:hover h3, .annotationCard.selected h3 {
color:black;
}
.annotationCard p{
padding-bottom:20px;
}
